.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  overflow: auto;
  max-height: calc(100vh - 100px);
}

.Title {
  margin-bottom: 20px;
  width: 100%;
  background-color: lightcoral;
}

.Title h1 {
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.hotel-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 50%;
}

.hotel-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  height: auto;
  max-height: 200px; /* Adjust the height as needed */
}

.hotel-card-content {
  flex-grow: 1;
}

.hotel-card h2,
.hotel-card p {
  margin: 0 0 10px;
}

.hotel-card p {
  margin-bottom: auto;
}

.hotel-card button {
  background-color: lightblue;
  color: white;
  padding: 10px 20px;
  font-size: 15px;
  border: none;
  border-radius: 5px; 
  cursor: pointer; 
  align-self: flex-end;
}

.hotel-card button:hover {
  background-color: blue;
}

.map-container {
  width: 45%;
  height: 500px;
  position: sticky;
  top: 0;
}

.pagination {
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%; 
  flex-direction: column;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}
