.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  overflow: auto;
  max-height: calc(100vh - 100px);
}

.Title {
  margin-bottom: 20px;
  width: 100%;
  background-color: lightcoral;
}

.Title h1 {
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.hotel-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 50%;
}

.hotel-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-height: 170px;
}

.hotel-card button {
  background-color: lightblue;
  color: white;
  padding: 10px 20px;
  font-size: 15px;
  border: none;
  border-radius: 5px; 
  cursor: pointer; 
  align-self: center; 
}

.hotel-card button:hover {
  background-color: blue;
}

.map-container {
  width: 45%;
  height: 500px;
  position: sticky;
  top: 0;
}

.pagination {
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
}
