.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.Title {
  text-align: center;
  margin-bottom: 20px;
}

.content {
  display: flex;
  flex-grow: 1;
  overflow: hidden; /* Prevent content overflow */
}

.hotel-grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
  padding: 16px;
  overflow-y: auto;
  max-height: calc(100vh - 220px); /* Adjust height to be scrollable */
}

.hotel-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hotel-card h2 {
  margin-top: 0;
}

.hotel-card p {
  margin: 4px 0;
}

.map-container {
  flex: 1;
  height: 500px; /* Fixed height for the map */
}
