.results-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 10px;
    margin-top: 1rem;
    max-height: 300px;
    overflow-y: scroll;
}

.search-result {
    padding: 10px 20px;
    font-family: Helvetica, sans-serif;
}

.search-result:hover {
    background-color: #efefef;
}