.footer {
    background-color: #f8f8f8;
    padding: 20px 10px 10px 10px;
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #333;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.footer-left span,
.footer-center span,
.footer-right a {
    margin: 0 10px;
}

.footer-right a {
    color: #333;
    text-decoration: none;
}

.footer-right a i {
    font-size: 18px;
}

.footer-links {
    margin-top: 10px;
}

.footer-links a {
    margin: 0 10px;
    color: #333;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}
